[build]
  base = "ameri-polytechnic"
  publish = "ameri-polytechnic/dist/myapp/browser"
  command = "cd ameri-polytechnic && npm install && npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

